## Title : Exploratory Data Analysis of Netflix Movies and TV Shows using Pandas and NumPy

### Analyize By : Himesh Sharma 
### Tools are used :- Python , Pandas , Numpy and Jupyter Lab

# Abstract

This project performs Exploratory Data Analysis (EDA) on the Netflix Movies and TV Shows dataset using Python libraries Pandas and NumPy.
The objective is to understand content distribution, trends, and patterns in Netflixâ€™s catalog.
Data cleaning, filtering, grouping, and numerical analysis techniques are applied to extract meaningful insights.
The analysis helps in understanding Netflixâ€™s focus on movies, TV shows, genres, and regional content.

### Introduction
Exploratory Data Analysis is used to understand the structure and characteristics of data.

It helps in identifying trends, patterns, and missing values.

Netflix is one of the largest streaming platforms with diverse content.

Analyzing Netflix data provides insights into content trends and user preferences.

## Source of dataset (Kaggle / Public Dataset)

# ðŸ”¹ Section 1: Data Understanding & Exploration

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("netflix_movies_data.csv")

In [3]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [19]:
# Load the Netflix dataset and display the first 10 rows.
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [20]:
# Display the last 5 rows of the dataset.
df.tail(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [21]:
# Find the total number of rows and columns in the dataset.
df.shape

(8807, 12)

In [22]:
# List all column names
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [23]:
# Check the data type of each column.
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [24]:
# Identify which columns contain missing values.
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [25]:
# Count the total number of missing values in each column.
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [26]:
# Display basic statistical summary of numerical columns.
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [27]:
# How many unique values are present in the type column?
df["type"].nunique()

2

In [28]:
# Find the number of unique countries in the dataset.
df['country'].nunique()

748

# ðŸ”¹ Section 2: Data Cleaning

In [47]:
# Replace all missing values in the director column with "Unknown".
df.loc[:, 'director'] = df['director'].fillna('Unknown')

In [44]:
# Replace missing values in the country column with "Not Available".
df['country'].fillna("Not Available")

0       United States
1        South Africa
2       Not Available
3       Not Available
4               India
            ...
8802    United States
8803    Not Available
8804    United States
8805    United States
8806            India
Name: country, Length: 8803, dtype: object

In [31]:
# Remove rows where the rating column is missing.
df = df.dropna(subset =['rating'])

In [32]:
# Check whether any missing values still exist after cleaning.
df.isnull().sum()

show_id            0
type               0
title              0
director        2631
cast             825
country          830
date_added        10
release_year       0
rating             0
duration           3
listed_in          0
description        0
dtype: int64

In [48]:
# Convert the date_added column into datetime format.
df.rename(columns={"date_added": "datetime"})

,show_id,type,title,director,cast,country,datetime,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Unknown,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,Unknown,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

# ðŸ”¹ Section 3: Content Distribution Analysis

In [49]:
# Count the total number of Movies and TV Shows.
df['type'].value_counts()

type
Movie      6129
TV Show    2674
Name: count, dtype: int64

In [50]:
# Calculate the percentage of Movies and TV Shows in the dataset.
df['type'].value_counts(normalize = True) *100

type
Movie      69.623992
TV Show    30.376008
Name: proportion, dtype: float64

In [51]:
# Find the top 10 countries with the highest number of Netflix titles.
df['country'].value_counts().head(10)

country
United States     2818
India              972
United Kingdom     419
Japan              244
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: count, dtype: int64

In [52]:
# Determine which country has the maximum Netflix content.
df['country'].value_counts().idxmax()

'United States'

In [53]:
# Count the number of titles released each year
df['release_year'].value_counts()

release_year
2018    1147
2017    1031
2019    1030
2020     953
2016     902
        ...
1959       1
1925       1
1961       1
1947       1
1966       1
Name: count, Length: 74, dtype: int64

In [54]:
# Identify the year with the highest number of releases.
df['release_year'].value_counts().idxmax()

np.int64(2018)

# ðŸ”¹ Section 4: Movie Analysis

In [55]:
# Count how many Movies are present in the dataset.
df[df['type']== "Movie"].shape[0]

6129

In [56]:
# Find the oldest movie available on Netflix.
df[df['type']=="Movie"]["release_year"].min()

1942

In [57]:
# Find the most recent movie added to Netflix.
df[df['type'] == "Movie"]['release_year'].max()

2021

In [58]:
# List all movies released after the year 2018.
df[(df["type"] == "Movie") & (df["release_year"]>2018)]

,show_id,type,title,director,cast,country,datetime,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, JÃºlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward TetÃª join...
...,...,...,...,...,...,...,...,...,...,...,...,...
8516,s8517,Movie,The Spy Who Fell to Earth,Thomas Meadmore,NaN,United Kingdom,"April 5, 2019",2019,TV-MA,94 min,"Documentaries, International Movies","Based on Dr. Ahron Bregman's book, this docume..."
8631,s8632,Movie,Trixie Mattel: Moving Parts,Nicholas Zeig-Owens,Brian Firkus,United States,"March 27, 2020",2019,TV-MA,91 min,"Documentaries, Music & Musicals",Drag queen Trixie Mattel deals with the bitter...
8718,s8719,Movie,Westside vs. the World,Michael Fahey,"Ron Perlman, Louie Simmons",NaN,"August 9, 2019",2019,TV-MA,96 min,"Documentaries, Sports Movies",A look into the journey of influential strengt...
8752,s8753,Movie,Wish Man,Theo Davies,"Andrew Steel, Kirby Bliss Blanton, Tom Sizemor...",United States,"December 3, 2019",2019,TV-14,108 min,"Children & Family Movies, Dramas","After surviving a life-threatening accident, a..."
8756,s8757,Movie,Woodstock,Barak Goodman,NaN,United States,"August 13, 2019",2019,TV-MA,97 min,"Documentaries, Music & Musicals",For the 50th anniversary of the legendary Wood...

In [59]:
# Count the number of movies released after 2015.
df[(df['type'] == 'Movie') & (df['release_year'] > 2015)].shape[0]

3618

In [60]:
# Identify the top 5 most common movie genres.
df[df['type'] == "Movie"] ["listed_in"].value_counts().head(5)

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Name: count, dtype: int64

# ðŸ”¹ Section 5: TV Show Analysis

In [61]:
# Count the total number of TV Shows.
df[df["type"]== "TV Show"].shape[0]

2674

In [62]:
# Find the TV Show with the highest number of seasons.
df[df['type'] == "TV Show"].sort_values("duration" , ascending = False).head(1)

,show_id,type,title,director,cast,country,datetime,release_year,rating,duration,listed_in,description
1480,s1481,TV Show,Still Game,Unknown,"Ford Kiernan, Paul Riley, Jane McCarry, Greg H...",United Kingdom,"December 30, 2020",2018,TV-14,9 Seasons,"British TV Shows, Classic & Cult TV, Internati...",Scottish pensioners Jack and Victor make the m...

In [63]:
# 31. Most common genre for TV Shows
df[df['type'] == 'TV Show']['listed_in'].value_counts().idxmax()

"Kids' TV"

# ðŸ”¹ Section 6: Director & Cast Analysis

In [64]:
# Find the total number of unique directors.
df['director'].nunique()

4528

In [65]:
# Identify the top 5 directors with the most content on Netflix.
df['director'].value_counts().head(5)

director
Unknown                   2631
Rajiv Chilaka               19
RaÃºl Campos, Jan Suter      18
Suhas Kadav                 16
Marcus Raboy                16
Name: count, dtype: int64

In [66]:
# Find all titles directed by a specific director (e.g., Rajiv Chilaka).
df[df['director']=='Rajiv Chilaka']

,show_id,type,title,director,cast,country,datetime,release_year,rating,duration,listed_in,description
406,s407,Movie,Chhota Bheem - Neeli Pahaadi,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,Things get spooky when Bheem and his buddies t...
407,s408,Movie,Chhota Bheem & Ganesh,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2009,TV-Y7,68 min,Children & Family Movies,Bheem and Lord Ganesha join forces to save Dho...
408,s409,Movie,Chhota Bheem & Krishna: Mayanagari,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2011,TV-Y7,67 min,Children & Family Movies,Young lord Krishna has fallen for demoness Maa...
409,s410,Movie,Chhota Bheem & Krishna: Pataliputra- City of t...,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2010,TV-Y7,66 min,Children & Family Movies,Krishna needs Bheemâ€™s help: The ruined city of...
410,s411,Movie,Chhota Bheem And The Broken Amulet,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,When a stranger tries to steal an amulet from ...
411,s412,Movie,Chhota Bheem And The Crown of Valhalla,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,To save the kingdom of Valhalla from invasion ...
412,s413,Movie,Chhota Bheem and the Incan Adventure,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,65 min,Children & Family Movies,"When Dholakpurâ€™s princess is kidnapped, Bheem ..."
413,s414,Movie,Chhota Bheem and The ShiNobi Secret,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,After learning of a samurai village under thre...
414,s415,Movie,Chhota Bheem Aur Hanuman,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies,When two evil entities kidnap a princess in a ...
415,s416,Movie,Chhota Bheem aur Krishna,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2009,TV-Y7,68 min,Children & Family Movies,"Centuries after the end of a conqueror's rule,..."
416,s417,Movie,Chhota Bheem aur Krishna vs Zimbara,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,A demon of darkness is plotting world dominati...
419,s420,Movie,Chhota Bheem: Bheem vs Aliens,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2010,TV-Y7,69 min,"Children & Family Movies, Sports Movies",Space invaders have kidnapped Dholakpurâ€™s king...
420,s421,Movie,Chhota Bheem: Dholakpur to Kathmandu,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2012,TV-Y7,70 min,Children & Family Movies,Bheemâ€™s holiday in Nepal takes an unexpected t...
422,s423,Movie,Chhota Bheem: Journey to Petra,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2011,TV-Y7,68 min,Children & Family Movies,"The king has been away to meet an old friend, ..."
423,s424,Movie,Chhota Bheem: Master of Shaolin,Rajiv Chilaka,"Pooja Punabi, Mausam, Julie Tejwani, Rupa Bhim...",NaN,"July 22, 2021",2011,TV-Y7,74 min,Children & Family Movies,Summoned by a monk to help reclaim a temple fr...
424,s425,Movie,Chhota Bheem: The Rise of Kirmada,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies,Bheem and young lord Krishna team up to protec...
2717,s2718,Movie,Chhota Bheem and the Curse of Damyaan,Rajiv Chilaka,"Kaustav Ghosh, Jigna Bhardwaj, Chutki, Rajesh ...",India,"April 1, 2020",2012,TV-Y7,87 min,Children & Family Movies,An evil demon who traded his freedom for immor...
6297,s6298,Movie,Bheemayan,Rajiv Chilaka,NaN,NaN,"May 10, 2019",2018,TV-Y,63 min,Children & Family Movies,"It's Diwali! To celebrate, Chhota Bheem and hi..."
6645,s6646,Movie,Dragonkala Ka Rahasya,Rajiv Chilaka,NaN,NaN,"June 18, 2019",2018,TV-Y,68 min,Children & Family Movies,Bheem helps to reopen Dragonpur's abandoned ma...

In [68]:
# Count how many titles have no director information.
df[df['director']=='Unknown'].shape[0]

2631

In [3]:
# Identify the most frequent actor appearing in Netflix content.
df['cast'].str.split(',').explode().value_counts().idxmax()

' Anupam Kher'

# ðŸ”¹ Section 7: Country-wise Analysis

In [6]:
# Find the total number of titles produced in India.
df[df['country'].str.contains('India', na=False)].shape[0]

1046

In [7]:
# Compare the number of titles produced by India and the United States.
df[df['country'].str.contains('India|United States', na=False)]['country'].value_counts()

country
United States                                    2818
India                                             972
United Kingdom, United States                      75
United States, Canada                              73
United States, United Kingdom                      47
                                                 ...
United Kingdom, Australia, United States            1
Canada, Germany, France, United States              1
United Kingdom, Ireland, United States              1
India, Pakistan                                     1
United States, France, South Korea, Indonesia       1
Name: count, Length: 387, dtype: int64

In [10]:
# List titles that were produced by more than one country.
df[df['country'].str.contains(',' , na=False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France","September 19, 2021",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
38,s39,Movie,Birth of the Dragon,George Nolfi,"Billy Magnussen, Ron Yuan, Qu Jingjing, Terry ...","China, Canada, United States","September 16, 2021",2017,PG-13,96 min,"Action & Adventure, Dramas",A young Bruce Lee angers kung fu traditionalis...
46,s47,Movie,Safe House,Daniel Espinosa,"Denzel Washington, Ryan Reynolds, Vera Farmiga...","South Africa, United States, Japan","September 16, 2021",2012,R,115 min,Action & Adventure,Young CIA operative Matt Weston must get a dan...
...,...,...,...,...,...,...,...,...,...,...,...,...
8788,s8789,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
8794,s8795,Movie,Ø§Ø´ØªØ¨Ø§Ùƒ,Mohamed Diab,"Nelly Karim, Hany Adel, Tarek Abdel Aziz, Ahme...","Egypt, France","October 11, 2018",2016,TV-14,98 min,"Dramas, Independent Movies, International Movies",Amid the tumult following Egyptian President M...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...

In [13]:
# Identify the top 5 countries producing TV Shows.
df[df['type'] == 'TV Show']['country'].value_counts().head(5)

country
United States     760
United Kingdom    213
Japan             169
South Korea       158
India              79
Name: count, dtype: int64

In [16]:
# Compare the distribution of ratings between Movies and TV Shows.
df[df['type'] == 'Movie']['rating'].value_counts()
df[df['type'] == 'TV Show']['rating'].value_counts()

rating
TV-MA       1145
TV-14        733
TV-PG        323
TV-Y7        195
TV-Y         176
TV-G          94
NR             5
R              2
TV-Y7-FV       1
Name: count, dtype: int64

# ðŸ”¹ Section 8: Rating Analysis

In [4]:
# Count the number of titles for each rating category.
df['rating'].value_counts()

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

In [5]:
# Identify the most common rating on Netflix.
df['rating'].value_counts().idxmax()

'TV-MA'

In [6]:
# Find all titles rated â€œTV-MAâ€.
df[df['rating']=='TV-MA']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
8762,s8763,Movie,Wrong Side Raju,Mikhil Musale,"Pratik Gandhi, Kimberley Louisa McBeath, Asif ...",India,"October 1, 2017",2016,TV-MA,140 min,"Dramas, International Movies",The life of a chauffeur and part-time bootlegg...
8769,s8770,Movie,Y.M.I.: Yeh Mera India,N. Chandra,"Anupam Kher, Atul Kulkarni, Aakash Pandey, Mil...",India,"March 1, 2018",2008,TV-MA,137 min,"Dramas, Independent Movies, International Movies","The lives of a middle-aged soap opera addict, ..."
8788,s8789,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,"December 31, 2019",2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...

In [11]:
# Compare the distribution of ratings between Movies and TV Shows.
df.groupby(['type' , 'rating']).size()

type     rating
Movie    66 min         1
         74 min         1
         84 min         1
         G             41
         NC-17          3
         NR            75
         PG           287
         PG-13        490
         R            797
         TV-14       1427
         TV-G         126
         TV-MA       2062
         TV-PG        540
         TV-Y         131
         TV-Y7        139
         TV-Y7-FV       5
         UR             3
TV Show  NR             5
         R              2
         TV-14        733
         TV-G          94
         TV-MA       1145
         TV-PG        323
         TV-Y         176
         TV-Y7        195
         TV-Y7-FV       1
dtype: int64

# ðŸ”¹ Section 9: NumPy-based Numerical Analysis

In [20]:
# Convert the release_year column into a NumPy array
years= df['release_year'].to_numpy()

In [21]:
# Find the mean release year of Netflix content.
np.mean(years)

np.float64(2014.1801975701146)

In [22]:
# Find the minimum and maximum release year using NumPy.
np.max(years) , np.min(years)

(np.int64(2021), np.int64(1925))

In [24]:
# Calculate the 25th, 50th, and 75th percentile of release years.
np.percentile(years,[25 , 50 , 75])

array([2013., 2017., 2019.])

In [25]:
# Compute the standard deviation of release years.
np.std(years)

np.float64(8.818811417623195)

# ðŸ”¹ Section 10: Advanced Filtering & Logical Analysis

In [34]:
# Find all Movies released in India after 2017.
df[(df['type']=='Movie') & ( df['country'].str.contains('India' , na=False)) & (df['release_year']>2017)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
126,s127,Movie,Shikara,Vidhu Vinod Chopra,"Aadil Khan, Sadia Khateeb, Zain Khan Durrani, ...",India,"September 2, 2021",2020,TV-14,115 min,"Dramas, International Movies, Romantic Movies",A couple must strive to remain resilient after...
190,s191,Movie,Thimmarusu,Sharan Koppisetty,"Satya Dev, Priyanka Jawalkar, Brahmaji",India,"August 28, 2021",2021,TV-14,125 min,"Dramas, International Movies",Eight years after a young man is framed for mu...
259,s260,Movie,Pahuna,Paakhi Tyrewala,"Anmol Limbu, Ishika Gurung, Manju Chettri, Ban...","India, Nepal","August 18, 2021",2018,TV-PG,82 min,"Comedies, Dramas, International Movies","Fleeing unrest in their native Nepal, three yo..."
518,s519,Movie,Har Kisse Ke Hisse: Kaamyaab,Hardik Mehta,"Sanjay Mishra, Deepak Dobriyal, Sarika Singh, ...",India,"July 6, 2021",2020,TV-14,105 min,"Dramas, International Movies","After a career of thankless credits, a retired..."
541,s542,Movie,Truckbhar Swapna,Pramod Pawar,"Makrand Deshpande, Kranti Redkar, Mukesh Rishi...",India,"July 6, 2021",2018,TV-14,128 min,"Comedies, Dramas, International Movies",A taxi driver living in a Mumbai slum seeks to...
...,...,...,...,...,...,...,...,...,...,...,...,...
8122,s8123,Movie,Super Bheem Bana Vajraveer,Sumit Das,"Sonal Kaushal, Rupa Bhimani, Julie Tejwani, Sa...",India,"June 18, 2019",2018,TV-Y7,63 min,Children & Family Movies,"Hoping to find a magical root, a monster has c..."
8267,s8268,Movie,The Dark Side of Life: Mumbai City,Tariq Khan,"Mahesh Bhatt, Kay Kay Menon, Avii, Nikhil Ratn...",India,"December 31, 2019",2018,TV-MA,121 min,"Dramas, International Movies",Struggling with Mumbai's pressures and private...
8672,s8673,Movie,Veerey Ki Wedding,Ashu Trikha,"Pulkit Samrat, Yuvika Chaudhry, Jimmy Shergill...",India,"December 31, 2019",2018,TV-14,130 min,"Comedies, Dramas, International Movies","Quick to throw punches in the name of justice,..."
8683,s8684,Movie,Vodka Diaries,Kushal Srivastava,"Kay Kay Menon, Raima Sen, Mandira Bedi, Sharib...",India,"December 31, 2019",2018,TV-14,113 min,"Dramas, International Movies, Thrillers",While investigating a series of murders and th...
8702,s8703,Movie,Waterschool,Tiffanie Hsu,NaN,"United States, Brazil, India, Uganda, China","July 25, 2018",2018,TV-G,68 min,Documentaries,"Six young women, who each live near one of Ear..."

In [44]:
# Find TV Shows added to Netflix after 2020.
df[(df['type'] == 'TV Show') & (df['date_added'].dt.year > 2020)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,s1461,TV Show,Monarca,NaN,"Irene Azuela, Juan Manuel Bernal, Osvaldo Bena...",Mexico,2021-01-01,2021,TV-MA,2 Seasons,"International TV Shows, Spanish-Language TV Sh...","After 20 years, Ana MarÃ­a returns to Mexico an..."
1462,s1463,TV Show,Running Man,NaN,"Kim Seo-yeong, Um Sang-hyun, Kwon Changwook, K...",NaN,2021-01-01,2020,TV-Y7,1 Season,"Kids' TV, TV Comedies","Wanting to bring home the ultimate prize, a gr..."
1463,s1464,TV Show,The Cat in the Hat Knows a Lot About That!,Tony Collingwood,"Martin Short, Alexa Torrington, Jacob Ewaniuk,...","Canada, United Kingdom, United States",2021-01-01,2014,TV-Y,1 Season,Kids' TV,"The Cat in the Hat is back â€“ and this time, he..."
1465,s1466,TV Show,The Haunted Hathaways,NaN,"Amber Frank, Curtis Harris, Benjamin Flores Jr...",United States,2021-01-01,2013,TV-G,2 Seasons,"Kids' TV, TV Comedies, TV Sci-Fi & Fantasy",Single mom Michelle Hathaway and her daughters...
8437,s8438,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,2021-01-02,2021,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies","Hosts David Spade, Fortune Feimster and London..."

In [47]:
# Identify content where the duration is greater than 100 minutes
df[(df['type'] == 'Movie') & (df['duration'].str.contains('min', na=False)) &
    (pd.to_numeric(df['duration'].str.extract('(\d+)')[0], errors='coerce') > 100)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",NaN,2021-09-21,1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...,...
8790,s8791,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,2019-09-01,2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,2019-12-31,2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,2018-02-15,2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [53]:
# Find titles that belong to both â€œDramasâ€ and â€œInternational Moviesâ€.
df[df['listed_in'].str.contains('Dramas', na=False) &
   df['listed_in'].str.contains('International', na=False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
21,s22,TV Show,Resurrection: Ertugrul,NaN,"Engin Altan DÃ¼zyatan, Serdar GÃ¶khan, HÃ¼lya Dar...",Turkey,2021-09-22,2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
30,s31,Movie,Ankahi Kahaniya,"Ashwiny Iyer Tiwari, Abhishek Chaubey, Saket C...","Abhishek Banerjee, Rinku Rajguru, Delzad Hiwal...",NaN,2021-09-17,2021,TV-14,111 min,"Dramas, Independent Movies, International Movies","As big city life buzzes around them, lonely so..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,2019-12-31,2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,2018-02-15,2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2016-12-15,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",2016-03-09,2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [54]:
# Find Netflix content released before the year 2000.
df[df['release_year']<2000]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",NaN,2021-09-21,1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",NaN,2021-09-21,1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...
41,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,2021-09-16,1975,PG,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...
...,...,...,...,...,...,...,...,...,...,...,...,...
8745,s8746,Movie,Willy Wonka & the Chocolate Factory,Mel Stuart,"Gene Wilder, Jack Albertson, Peter Ostrum, Roy...","United States, East Germany, West Germany",2020-01-01,1971,G,100 min,"Children & Family Movies, Classic Movies, Come...",Zany Willy Wonka causes a stir when he announc...
8748,s8749,Movie,Winter of Our Dreams,John Duigan,"Judy Davis, Bryan Brown, Cathy Downes, Baz Luh...",Australia,2016-11-01,1981,NR,86 min,"Classic Movies, Dramas","After the death of a long-ago lover, married p..."
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,2017-03-31,1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...
8764,s8765,Movie,Wyatt Earp,Lawrence Kasdan,"Kevin Costner, Dennis Quaid, Gene Hackman, Dav...",United States,2020-01-01,1994,PG-13,191 min,Action & Adventure,Legendary lawman Wyatt Earp is continually at ...
8792,s8793,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,2016-11-01,1973,NR,81 min,"Action & Adventure, International Movies","Aided only by a tough female police officer, a..."

 # ðŸ”¹ Section 11: Trend & Insights Analysis
### 11.1 Trend of Content Releases Over the Years

The analysis of release years shows a gradual increase in Netflix content over time, with a significant surge after 2015. This indicates Netflixâ€™s aggressive expansion strategy in recent years, focusing on increasing the size and diversity of its content library.

### 11.2 Movies vs TV Shows in Recent Years

In recent years, Netflix has increasingly invested in TV Shows compared to Movies. While Movies still dominate in total count, the growth rate of TV Shows is higher, suggesting a strategic shift towards episodic content to improve long-term user engagement.

### 11.3 Fastest-Growing Content Category

International TV Shows and Dramas emerge as the fastest-growing categories. This reflects Netflixâ€™s focus on expanding regional and non-English content to attract a global audience.

### 11.4 Dominant Genre on Netflix

Drama-related genres dominate the Netflix catalog. This suggests that dramatic storytelling remains a core preference among viewers across different regions and cultures.

### 11.5 Key Insights

Netflix content has grown rapidly after 2015.

TV Shows are growing faster than Movies in recent years.

The United States and India are the largest contributors to Netflix content.

International and regional content play a crucial role in Netflixâ€™s global expansion strategy.

# ðŸ”¹ Section 12: Final Project Discussion
 ### 12.1 Limitations of the Dataset

The dataset contains missing values in important columns such as director and country.

Viewer ratings and watch-time metrics are not included.

Some content has inconsistent or incomplete duration formats.

### 12.2 Business Impact of the Analysis

This analysis can help Netflix identify popular genres, content types, and regional markets. Such insights enable better content acquisition, production planning, and audience targeting strategies.

### 12.3 Additional Data for Better Analysis

User ratings and reviews

Watch-time and completion rates

Subscription growth by region

Budget and production cost data

### 12.4 Impact of Removing Regional Content

Removing regional content would significantly reduce the diversity of Netflixâ€™s catalog and could negatively impact its global user base. Regional content plays a key role in audience retention and market expansion.

### 12.5 Role of Pandas and NumPy in the Project

Pandas was used for data manipulation, cleaning, filtering, and aggregation, while NumPy enabled efficient numerical analysis such as mean, percentile, and standard deviation calculations. Together, these libraries provided a strong foundation for structured and efficient data analysis.

# Conclusion

This project performed an Exploratory Data Analysis (EDA) on the Netflix Movies and TV Shows dataset using Python libraries Pandas and NumPy. The dataset was cleaned, explored, and analyzed to understand content distribution, release trends, genre dominance, and regional contributions.

The analysis revealed a rapid growth in Netflix content after 2015, with Movies dominating the platform in overall count, while TV Shows are increasing at a faster rate in recent years. Drama and International content emerged as the most prominent genres, highlighting Netflixâ€™s focus on global and diverse storytelling.

Country-wise analysis showed that the United States and India are major contributors to Netflixâ€™s catalog, emphasizing the importance of regional content in Netflixâ€™s expansion strategy. NumPy-based numerical analysis provided insights into release year trends through statistical measures such as mean, percentiles, and standard deviation.

Overall, this project demonstrates how Pandas and NumPy can be effectively used to clean, analyze, and extract meaningful insights from real-world datasets. The findings from this analysis can support data-driven decisions in content planning, acquisition, and strategic growth for streaming platforms like Netflix.